* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  /* max-width: 768px; */
}

html, body {
  padding: 0;
  margin: 0;
}

:focus {
  outline-color: blue;
}

header {
  /* display: flex;
  justify-content: center;
  align-self: center; */
  text-align: center;
  background: #2f3944;
  color: white;
  padding: 10px 0;
  font-size: .6em;
  margin: 0;
}

.divider1 {
  border-color: black;
  border-top-width: 4px;
  border-bottom-width: 2px;
  height: 4px;
  border-left: none;
  border-right: none;
  width: 90%;
}

.divider2 {
  border-color: black;
  border-width: 1.5px;
  margin-top: 20px;
}

.signup {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  font-size: .9em;
}

h2 {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.signup p {
  text-align: center;
  font-size: 1.1em;
  color: #CACDCE;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
}

.contact-group,
.newsletter-group {
  border: 0;
  padding-left: 15px;
}

.contact-group input {
  margin-top: 10px;
}

.newsletter-group {
  flex-wrap: wrap;
  flex-direction: column;
}

.select-text {
  margin-top: 0;
}

#state {
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  height: 40px;
  background-color: rgb(237, 238, 239);
  margin-top: 10px;
}

option {
  color: rgb(237, 238, 239);
}

textarea {
  background: rgb(237, 238, 239);
  border-radius: 5px;
  border: none;
  display: flex;
  width: 100%;
  height: 80px;
  transition: 1s;
}

#full-name,
#email,
#phone-number,
#address,
#city,
#zip-code {
  background-color: rgb(237, 238, 239);
  height: 40px;
  width: 97%;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  transition: 1s;
}

#zip-code {
  display: flex;
  width: 51%;
}

input::placeholder {
  font-size: .8em;
  color: #bfc2c5;
  text-align: right;
  padding-right: 20px;
  font-style: italic;
}

form legend {
  font-weight: bolder;
  font-size: 1.2em;
  padding-bottom: 10px;
  padding-top: 10px;
}

input[type="radio"], input[type="checkbox"] {
  margin-bottom: 10px;
  margin-right: 10px;
  transition: 1s;
}

input[type="submit"] {
  background: #6cb8b4;
  color: white;
  height: 70px;
  width: 100%;
  font-size: 1.5em;
  border-radius: 5px;
  margin-top: 30px;
}

.copyright {
  margin-top: 10px;
  font-style: italic;
  display: flex;
  justify-content: center;
}

.bottom {
  display: flex;
  height: 200px;
  transition: 1s;
}

@media (min-width: 768px) {
  header {
    height: 50px;
    font-size: .4em;
  }

  header h1 {
    padding-top: 0;
  }

  .signup h2 {
    margin-top: 35px;
    margin-bottom: 4px;
  }

  .signup p {
    font-size: .75em;
    margin-top: 0;
  }

  .divider1 {
    margin-top: 20px;
    border-top-width: 3px;
    border-bottom-width: 1px;
    width: 60%;
  }

  .divider2 {
    width: 60%;
  }

  /* .contact-group label {
  width: 60%;
  margin-left: 18%;
}

.contact-group input {
  width: 60%;
  margin-left: 40%;
  display: inline;
} */
  .contact-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
  }

  .contact-group legend {
    margin-left: 50%;
  }

  #full-name,
  #email,
  #phone-number,
  #address,
  #city,
  #zip-code {
    width: 45%;
    margin-left: 10%;
  }

  .entry-1,
  .entry-2,
  .entry-3,
  .entry-4,
  .entry-5 {
    justify-content: center;
  }
}
